.signpop-overlay{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.signpop-container{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}


.signpop-content form{
  top: 35px;
    position: relative;
  width: 320px;
  height: 550px;
  padding: 25px;
  background: transparent;
  border: 2px solid rgba(255,255,255,1.8);
  border-radius: 50px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.signpop-content form input[type="email"],
.signpop-content form input[type="password"],
.signpop-content form input[type="text"] {
    display: block;
    width: 300px;
    height: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: #333;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}

.signpop-content form label {
    display: flex;
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
  }
   
.signpop-content form .signpop-button1 {
    width: 100%;
    height: 50px;
    background-color: rgba(3, 3, 3, 0.6);
    border: none;
    outline: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(255, 255, 255, 1.8);
     font-weight: 500;
     margin-top: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
 
   .signpop-content form h1 {
     text-align: center;
     margin-bottom: 20px;
     color: #fff;
   }
 
   .signpop-content form .signpop-button1:hover {
     background-color: rgba(255, 255, 255, 0.8);
     color: #000000;
   }

   .signpop-content .icon-close {
    position: absolute;
    top: 25px;
    right: 17px;
    cursor: pointer;
    font-size: 24px; 
    color: #ffffff;
   font-size: 30px; 
   color:rgb(151, 0, 0);
  }


